<div class="welcome-page">
  <h1 class="headline">trendWolf</h1>
  <h2 class="sub-headline">Trending, Popular,and Most Recent Fonts From Google</h2>


  <section class="landing">
    <% if current_user %>
    <div class="welcome-name">
      <h3>Hello, <%= current_user.name %></h3>
    </div>

    <div class="log-container">
      <%= link_to "Check Out Trending Fonts", trending_path, class: 'button' %>
      <%= link_to "Check Out Popular Fonts", popular_path, class: 'button' %>
      <div class='logout'>
        <%= link_to "Check Out Recent Fonts", recent_path, class: 'button' %>
        <div class='logout'>
          <%= link_to "Logout", logout_path, method: :delete, class: "button logout" %>
        </div>
      </div>
    </div>
    <% else %>
    <div class="log-container">
      <%= link_to "Log In With Google", google_login_path, class: "button log-in"  %>
    </div>
    <% end %>
  </section>
</div>
